{% extends 'base.html.twig' %}

{% block title %}catégories{% endblock %}

{% block body %}
{% block arborescence %}
{{ parent() }}
        <a href="{{ path('app_categories') }}">
            <div class="menu-chevron-item">
                <p>Catégories</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
{% endblock %}
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col">
                    <a href="{{ path('app_category', {slug: category.slug}) }}">
                        <div class="card">
                            <img src="{{ asset('category-images/' ~ category.imagePath) }}">
                            <h3>{{ category.title }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}            
        </div>
    </div>
{% endblock %}
