{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.title }}{% endblock %}

{% block body %}
{% block arborescence %}
{{ parent() }}
        <a href="{{ path('app_categories') }}">
            <div class="menu-chevron-item">
                <p>Catégories</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
        <a href="{{ path('app_category', {slug: category.slug}) }}">
            <div class="menu-chevron-item">
                <p>{{ category.title }}</p>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </a>
    </div>
{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="side-categories">
                    <div class="side-title">
                        <p class="text">Catégories</p>
                        <span>Nombre</span>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case case-checked">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="side-category-title">Toutes les catégories</div>
                        </div>
                        <div class="item-number">10</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Jouets</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Peluches</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Balades</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Vêtements</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Autres</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                </div>
                <div class="side-categories">
                    <div class="side-title">
                        <p class="text">Catégories</p>
                        <span>Nombre</span>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case case-checked">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="side-category-title">Toutes les catégories</div>
                        </div>
                        <div class="item-number">10</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Jouets</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Peluches</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Balades</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Vêtements</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Autres</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                </div>
                <div class="side-categories">
                    <div class="side-title">
                        <p class="text">Catégories</p>
                        <span>Nombre</span>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case case-checked">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="side-category-title">Toutes les catégories</div>
                        </div>
                        <div class="item-number">10</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Jouets</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Peluches</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Balades</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Vêtements</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                    <div class="side-category-item">
                        <div class="choice">
                            <div class="case"></div>
                            <div class="side-category-title">Autres</div>
                        </div>
                        <div class="item-number">5</div>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <h3 class="text-primary product-title">Catégorie {{ category.title }}</h3>
                <p>{{ category.description | raw }}</p>
                <div class="row">
                    {% for product in category.products %}
                        <div class="col">
                            <a href="">
                                <div class="card card-products">
                                    {% if product.productImages | length > 0 %}
                                        <img src="{{ asset('product-images/' ~ product.productImages[0].path) }}" width="100"/>
                                    {% endif %}
                                    <div class="legends-product">
                                        <span class="title-product">Peluche n° {{ product.id }}</span>
                                        <span class="price-product">{{ product.price | format_currency('EUR', locale='fr') }}</span>
                                        <div class="stars">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="text-no-product-in-categories">
                            Aucun produit dans l'univers {{ category.title }} pour le moment. <br>
                            <a href="{{ path('app_categories') }}">Retour à la liste</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
