{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.title }}{% endblock %}

{% block body %}
<h1>Catégorie {{ category.title }}</h1>
    <p>{{ category.description | raw }}</p>
    {% for product in category.products %}
        <div>
            {% if product.productImages | length > 0 %}
                <img src="{{ asset('product-images/' ~ product.productImages[0].path) }}" width="100"/>
            {% endif %}
            <span>{{ product.price | format_currency('EUR', locale='fr') }}</span>
        </div>
    {% else %}
        Aucun produit pour l'univers {{ category.title }}
    {% endfor %}
                
    <a href="{{ path('app_categories') }}">Retour à la liste</a>

{% endblock %}
